.battle-item {
  height: 307px;
  background-position: unset !important;
}

.battle-text {
  padding-right: 32px;
  max-width: unset;
  margin-top: unset;
  top: -4px;
  line-height: 150%;
}

.button {
  width: 175px;
}

.step-button {
  border: 2px solid #ff981d;
}

.orange:hover {
  color: white;
}

.callback__inner {
  top: -38px;
  left: 20px;
}

.callback__container h4 {
  font-size: 25px;
  position: relative;
  line-height: 145%;
}

.callback__container h4 span {
  position: absolute;
  bottom: -40px;
  right: 0;
  top: unset;
  left: unset;
}

.step-2 {
  margin-top: 45px;
  min-height: 360px;
}

.alex-photo {
  padding-right: 53px;
}

.step-button {
  position: relative;
  top: 29px;
  left: -4px;
}

.step-button::after {
  content: "";
  display: block;
  width: 42px;
  height: 54px;
  background: url('./../images/mentors/arrow.png');
  position: absolute;
  right: -50%;
  top: -70%;
}

.step-button span {
  position: relative;
  top: -3px;
  letter-spacing: 0.8px;
}

.step-arrow {
  position: relative;
  right: 55px;
  top: 23px;
}

.speakers .row {
  margin: 0;
}

.speakers-head {
  text-align: center;
  margin-top: 30px;
  word-spacing: 0px;
  letter-spacing: 1.4px;
  position: relative;
  left: 6px;
}

.mentors {
  padding: 99px 0 67px;
}

.mentors-gallery__container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 27px;
}

.mentor .speaker__content__inner {
  margin-bottom: 10px !important;
  grid-template: unset !important;
}

.mentor {
  width: 48% !important;
  margin: 1% !important;
}

.mentor {
  background: url('./../images/logo.png');
}

.mentors .row {
  align-items: flex-start;
}

.mentors .row .col-md-6,
.mentors .row .col-md-12 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.question-box {
  background: #8261cc;
}

.question-box .speaker__content {
  justify-content: center;
  align-items: center;
}

.mentors-head {
  max-width: 500px;
  margin: 0 auto;
}

.mentors-head .lines {
  left: 0;
}

.speaker__image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, #000000 0, rgba(255, 255, 255, 0) 50%);
  width: 100%;
  height: 100%;
  content: '';
}

.mentors-head {
  font-size: 30px;
  font-weight: 200;
  font-family: 'V-L';
}

.mentor-button {
  position: absolute;
  bottom: -47px;
  z-index: 1000;
  width: 100%;
  height: 49px;
  font-size: 16px;
  font-family: 'V-L';
  color: rgb(242, 242, 242);
  font-weight: 200;
}

.mentor-button:hover {
  transition: 0.2s ease all;
  background: #ff981d !important;
  color: white !important;
  border: 0;
}

.mentors-gallery__container {
  margin-top: 35px;
}

.speaker {
  overflow: unset;
  margin-bottom: 56px !important;
}

.modal-speaker .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-speaker {
  background: rgba(255, 255, 255, 0.5);
}

.modal-speaker .modal-content {
  display: flex;
  background: white;
  color: black;
  border-radius: 0;
  max-height: 444px;
  max-width: 960px;
  justify-content: center;
  align-items: center;
}

.speaker-image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speaker-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.speaker-link {
  color: #00909d;
  transition: 0.2s ease all;
}

.speaker-link span {
  border-bottom: dashed 1px gray;
}

.speaker-link:hover {
  transition: 0.2s ease all;
}

.speaker-position {
  font-size: 1.2rem;
}

.speaker-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  min-height: 80%;
}

.speaker-text__inner {
  display: none;
}

.speaker:not(.speaker__large) .speaker__content-wrap:after {
  background: none;
}

.speaker-review {
  font-size: 18px;
}

.speakers-overview {
  max-width: 970px;
  margin: 34px 0 8px -8px;
  letter-spacing: 0.4px;
}

.submit {
  width: 100%;
}

.speaker-name {
  letter-spacing: 0.6px;
}

.modal-logo {
  position: absolute;
  bottom: 45px;
  right: 45px;
  z-index: 1;
}

.modal-vote .modal-content {
  max-height: 501px;
  justify-content: flex-end;
  padding: 15px;
}

.modal-text__container {
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0 15px;
}

.fb-link {
  color: #3c5896;
}

.fb-link:hover {
  color: #3c5896;
}

.underline {
  border-bottom: 1px solid #3c5896;
  position: relative;
}

.speaker-about {
  font-size: 14px;
}

.fb-link {
  display: flex;
  justify-content: space-around;
}

.fb-link_text.underline::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url('./../images/fb-mentors.png');
  position: absolute;
  left: -30px;
  bottom: -2px;
}

.fb-link {
  position: relative;
  padding: 0;
}

.speaker-modal-text__inner {
  padding: 0;
  overflow: unset;
}

.speaker-image__container {
  margin: 0 auto;
  min-height: unset;
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-height: 80%;
}

.speaker-text br,
.fb-link br {
  display: none;
}

@media only screen and (min-width: 767px) {
  .mentors .row .col-md-6 {
    padding: 0;
    justify-content: flex-start;
  }

  .mentor {
    width: 48% !important;
    margin: 1%;
  }
}

@media (max-width: 1000px) {
  .speaker-text {
    justify-content: flex-start;
  }

  .speaker-text br {
    display: unset;
  }

  .alex-photo {
    padding: 0;
  }

  .battle-item {
    background-size: cover !important;
    background-position: center !important;
    height: 437px;
  }

  .header-text {
    display: unset !important;
    text-align: unset !important;
  }
}

@media (max-width: 767px) {
  .modal-content {
    width: unset;
    height: unset;
    padding: 30px 15px !important;
  }

  .modal-speaker .modal-content {
    max-height: 80%;
    align-items: baseline;
  }

  .speaker-image {
    width: 90%;
  }

  .speaker-text {
    margin-top: 30px;
  }

  .speaker-review {
    font-size: 15px;
  }

  .speaker-image__container,
  .speaker-text {
    min-height: unset;
  }

  .speaker-text {
    height: unset;
  }

  .modal-vote .speaker-image__container {
    margin-top: 100px;
  }

  .modal-logo {
    display: none;
  }

  .modal-text__container {
    text-align: center;
    left: 0;
  }

  .fb-link {
    display: block;
  }

  .fb-link br {
    display: unset;
  }

  .battle-text {
    padding-left: 0;
  }

  .mentors .row .col-md-6, .mentors .row .col-md-12 {
    padding: 8px;
  }

  .speakers-overview {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .modal-speaker .modal-content {
    max-height: 100%;
    align-items: center;
  }

  .step-button::after {
    right: -40%;
  }

  .callback__inner {
    left: 0;
  }

  .speaker-text {
    margin-top: 0;
  }

  .step-2 {
    min-height: unset;
    padding: 50px 0;
  }

  .step-2__inner {
    padding: 0 !important;
  }

  .callback__container h4 {
    font-size: 23px;
    margin: 0;
  }

  .callback__inner {
    top: 0;
    justify-content: unset;
  }

  .step-button {
    top: 0;
    left: 0;
    margin-top: 30px;
  }

  .speakers-overview {
    padding: 0 15px 0 10px;
    margin: 34px 0 0 0;
  }

  .mentors .row .col-md-6, .mentors .row .col-md-12 {
    padding: 0;
  }

  .speaker {
    margin-bottom: 52px !important;
  }

  .mentors>.container {
    padding: 0 5px;
  }
}