@font-face {
  font-family: 'V';
  src: url('./../fonts/VAG\ Rounded\ Pro\ Cyrillic\ Light\ [TheFontsMaster.com].otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'V-B';
  src: url('./../fonts/VAG\ Rounded\ Pro\ Cyrillic\ Bold\ [TheFontsMaster.com].otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'V-L';
  src: url('./../fonts/VAG\ Rounded\ Pro\ Cyrillic\ Thin\ [TheFontsMaster.com].otf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1460px;
  }
}

* {
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

section .row:not(.header-bottom .row) {
  margin: 0;
}

body {
  font-family: 'V';
  color: #525252;
}

section {
  position: relative;
}

.container-fluid {
  overflow: hidden;
}

a {
  color: initial;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.or-text {
  color: #ff981d;
}

.header>.container {
  padding: 0 6.8vw;
  padding-top: 31px;
}

.header {
  color: white;
  background-image: url('./../images/headr-bg-2.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 22px;
}

.header-top {
  margin: 0;
}

.navbar-logo {
  display: flex;
  margin-left: 0px;
  padding: 0;
}

.logo-text {
  font-size: 12px;
  letter-spacing: 0.2px;
  max-width: 130px;
  margin-left: 18px;
  margin-top: 8px;
  font-weight: 200;
  font-family: 'V-L';
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
}

.nav-top {
  display: flex;
  font-size: 86%;
  padding-top: 7px;
}

.selectric {
  border: none;
  border-bottom-width: 2px;
  background: none;
  position: relative;
  border-radius: 4px;
}

.selectric-wrapper {
  margin-right: 26px;
  margin-top: -4px;
  position: relative;
  top: 1px;
}

.selectric-open .selectric {
  border: none;
  background: none;
  margin-top: 0;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 26px 0 0;
  padding: 6px;
  font-size: 100%;
  line-height: 18px;
  color: white;
  min-height: 18px;
}

.selectric-items {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  position: absolute;
  top: 100%;
  left: 0;
  background: #7c2fbe;
  border: #7c2fbe;
  z-index: -1;
  box-shadow: none;
  margin: 8px 0;
  padding: 10px 0;
  border-radius: 4px;
}

.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 6px 30px 6px 10px;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.selectric-items:before,
.selectric-items:after {
  content: "";
  position: absolute;
  top: -9px;
  left: 12px;
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 3px;
}

.selectric-items li:hover {
  background: #7c59c0;
  color: #ff981d;
  border: none;
  box-shadow: none;
}

.selectric-items li.highlighted {
  background: none;
  color: white;
}

.header-head {
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1.75px;
}

.languages-list {
  margin-right: 32px;
  margin-top: -4px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.languages-list:focus {
  outline: none;
  border: none;
}

option {
  background-color: #7c2fbe;
  border: none;
  cursor: pointer;
  padding: 10px;
  outline: none;
  box-shadow: 0px 0px 1px 1px black;
}

option:hover {
  background: transparent;
  cursor: pointer;
}

.popup-menu>span {
  font-family: 'V-L';
  display: block;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 0;
  width: 90%;
  height: 90%;
  background-color: #7c59c0;
  color: white;
  display: grid;
}

.modal-menu .modal-content {
  background-color: #7c59c0;
  background: url('./../images/menu-bg.png');
  background-size: cover;
  background-position: center;
  grid-template: 1fr 5fr / 1fr;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'V-L';
}

.close {
  cursor: pointer;
  transition: 0.2s ease all;
}

.close:hover {
  transform: scale(1.05);
  transition: 0.2s ease all;
}

.modal-content .container {
  margin: 0 auto;
}

.menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
}

.menu-column ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.menu-column li {
  margin: 10px;
}

.menu-column li>a {
  color: #ff981d;
  position: relative;
  transition: 0.5s ease all;
  left: 0;
}

.menu-column>ul>li>a:hover {
  left: 5px;
  color: white;
  transition: 0.5s ease all;
}

.modal-buttons {
  display: flex;
}

.modal-buttons .orange:hover {
  color: white;
}

.modal-buttons .button {
  margin: 0 5px;
}

.modal-links {
  margin: 0 !important;
}

.menu-column li .social-list {
  margin: 0 !important;
}

.popup-menu>span:hover {
  cursor: pointer;
}

.header-main {
  padding-top: 58px;
}

.header-text {
  font-family: 'V-B';
  padding: 0 28px;
}

.button {
  width: 150px;
  height: 40px;
  background: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'V-L';
}

.button span {
  position: relative;
  top: -1px;
}

.orange {
  transition: 0.2s ease all;
  background: #ff981d;
  color: white;
}

.orange:hover {
  transition: 0.2s ease all;
  border: 2px solid #ff981d;
  background: transparent;
  background: transparent !important;
}

.trans {
  transition: 0.2s ease all;
  width: 150px;
  height: 40px;
  border: 2px solid #ff981d;
}

.trans:hover {
  background: #ff981d !important;
  color: white !important;
}

.navbar__inner .h-b-1:hover span {
  color: #525252;
}

.navbar__inner .h-b-1 {
  font-size: 15px;
}

.m-t {
  margin-right: 10px;
  position: relative;
  top: 1px;
  left: -3px;
}

.social-list {
  width: 110px;
  margin-top: 31px;
  position: relative;
  top: -3px;
}

.social-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-list {
  margin-top: -46px;
}

.navbar {
  position: absolute;
  top: -100px;
  transition: 0.2s ease all;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  transition: 0.2s ease all;
}

.sticky .container {
  padding: 0 6.8vw;
  justify-content: flex-end;
}

.navbar__inner {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.popup-menu {
  cursor: pointer;
}

.footer {
  background: url('./../images/footer-bg.png');
  background-size: cover;
  background-position: center;
  padding: 60px 0 50px 0;
  color: white;
  justify-content: center;
  font-family: 'V-L';
  font-weight: 200;
}

.footer .container {
  max-width: 1200px;
}

.footer-right__container h4 {
  font-size: 18px;
}

.footer-right__container p {
  font-size: 13px;
  margin: 0;
}

.callback-form {
  width: 100%;
  max-height: 200px;
  height: 200px;
  max-width: 204px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
}

.callback-form input[type=text],
.callback-form textarea {
  width: 100%;
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  margin: 10px 0 0 0;
  padding-left: 10px;
  height: 30px;
  padding-top: 0px;
}

textarea::-webkit-scrollbar {
  display: none;
}

.callback-form textarea {
  margin-top: 16px;
  height: 35px;
}

::placeholder {
  color: white;
  position: relative;
  top: 0;
  left: 2px;
}

.callback-form span {
  margin: 0px 0 -10px 11px;
}

.callback-form span:nth-child(2) {
  margin: 1px 0 -10px 13px;
}

.callback-form span:nth-child(3) {
  margin: 0px 0 -10px 12px;
}

.footer-right__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -14px;
  left: 12px;
}

.footer-mid__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-left__container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.footer .social-list {
  top: -13px;
}

.footer-text {
  font-size: 12px;
  margin-top: 41px;
  letter-spacing: 0.2px;
  line-height: 14px;
  word-spacing: 1px;
  margin-left: 1px;
  max-width: 300px;
}

.submit {
  height: 40px;
  min-height: 40px;
  margin: 10px auto;
  position: relative;
  top: 12px;
  width: 100%;
}

.footer-nav {
  display: grid;
  grid-template: repeat(7, 1fr) / 1fr 1fr;
  height: 100%;
  margin: 0;
  position: relative;
  grid-column-gap: 38px;
  top: -3px;
  left: 17px;
  max-height: 224px;
}

.imaguru {
  position: relative;
  top: 12px;
}

.footer-nav li {
  display: flex;
  align-items: center;
}

.footer-nav li a {
  color: white;
  position: relative;
  transition: 0.5s ease all;
  font-size: 13px;
  left: 0;
}

.footer-nav li a:hover {
  left: 5px;
  color: #ff981d;
  transition: 0.5s ease all;
}

.mid-column {
  position: relative;
}

.modal-menu .container {
  padding: 0;
}

.menu-column:nth-child(3)::before,
.menu-column:nth-child(1)::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  background: #ff981d;
}

.menu-column:nth-child(3)::before {
  left: 0;
}

.menu-column:nth-child(1)::after {
  right: 0;
}

.main {
  padding-bottom: 100px;
}

.main .container {
  padding: 0 1.7vw 0 7.6vw;
  padding-top: 48px;
}

.tickets__container {
  position: relative;
  left: 18px;
  box-shadow: 0 0px 14px -2px rgba(0, 0, 0, .1);
}

.tickets-head__container {
  text-align: center;
}

.tickets-head {
  font-size: 30px;
  font-family: 'V-L';
  font-weight: 200;
  position: relative;
  top: -26px;
  left: 15px;
}

.business-item:hover,
.standart-item:hover,
.vip-item:hover {
  transition: 0.2s ease all;
  box-shadow: 0 0px 14px -2px rgba(0, 0, 0, .2);
}

.dark {
  background: #f8f8f8;
}

.button {
  transition: 0.2s ease all;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.button:hover {
  color: #525252;
  transition: 0.2s ease all;
}

.navbar .button:hover {
  background: white;
}

.return-link {
  color: white;
  font-size: 13px;
  font-family: 'V-L';
  font-weight: 200;
  position: relative;
  left: 7px;
  top: -11px;
  letter-spacing: 0.5px;
}

.return-link::before {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  background: url('./../images/left-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -20px;
  top: 0px;
  transition: 0.2s ease all;
  cursor: pointer;
}

.return-link:hover {
  color: white;
  margin-left: 5px;
  transition: 0.2s ease all;
  cursor: pointer;
}

.bold-text {
  font-weight: 800;
  font-family: 'V-B';
}

.underline span {
  border-bottom: 1px dashed rgba(0, 0, 0, .2);
}

.main input {
  display: none;
}

.main__container {
  display: flex;
  margin: 0 auto;
}

.filter__container {
  padding: 0;
  box-shadow: 0 0px 14px -2px rgba(0, 0, 0, .2);
  max-width: 210px;
  font-size: 14px;
  letter-spacing: 0.2px;
  max-height: 920px;
}

.filter-head {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #7c59c0;
  font-size: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
}

.filter-date {
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.filter-line {
  display: block;
  width: 37px;
  height: 2px;
  background: #7c59c0;
}

.filter-title-text {
  position: relative;
  left: 8px;
}

.date-18 {
  margin-top: 11px;
}

.filter-label {
  margin-bottom: 12.6px;
  margin-left: 25px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  min-width: 11px;
  height: 11px;
  min-height: 11px;
  border: 1px solid #7c59c0;
}

.filter-box span {
  display: block;
  width: 7px;
  min-width: 7px;
  height: 7px;
  min-height: 7px;
  background: white;
  transition: 0.2s ease all;
}

.filter-item input:checked~.filter-label .filter-box span {
  background: #7c59c0;
  transition: 0.2s ease all;
}

.filter-text {
  position: relative;
  left: 9px;
  top: -4px;
  line-height: 125%;
}

.filter-event {
  margin-top: -3px;
  padding-right: 10px;
}

.filter-event .fintech {
  margin-top: 17px;
}

.filter-event .startup {
  margin-top: 19px;
}

.card-item {
  box-shadow: 0 1px 24px 0 rgba(0, 0, 0, .15);
  transition: 0.2s ease all;
  position: relative;
}

.card-item:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, .17);
  transition: 0.2s ease all;
}

.event-title {
  font-size: 14px;
  cursor: pointer;
  line-height: 125%;
  display: flex;
  align-items: center;
  grid-area: 1/1/2/3;
}

.event-location {
  font-size: 13px;
  cursor: pointer;
  grid-area: 2/1/3/2;
  padding-left: 18px;
  display: flex;
  align-items: center;
}

.location {
  position: relative;
}

.location::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 2px;
  background: url('./../images/location-bl.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  transition: 0.2s ease all;
}

.event-details {
  display: flex;
  align-items: center;
  grid-area: 3/1/4/2;
}

.event-duration__container {
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: flex-end;
}

.event-details,
.event-duration__container {
  font-size: 13px;
  position: relative;
}

.event-duration {
  position: relative;
  left: -12px;
  top: 1px;
}

.event-duration::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: -24px;
  background: url('./../images/clocks.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.card-text {
  display: grid;
  grid-template: 1fr 1fr 1fr / 3fr 1fr;
  grid-row-gap: 6px;
  letter-spacing: 0.4px;
  padding: 22px 0 10px 0;
}

.card-photos {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.few-photos {
  grid-template: 1fr / repeat(4, 74px);
  grid-gap: 10px;
}

.many-photos {
  grid-template: repeat(2, 27px) / repeat(4, 45px);
  grid-column-gap: 14%;
  align-content: center;
}

.many-photos .photo-2,
.many-photos .photo-4,
.many-photos .photo-6 {
  right: 110%;
}

.many-photos .photo-1 {
  grid-area: 2/4/2/5;
}

.many-photos .photo-2 {
  grid-area: 1/4/2/5;
}

.many-photos .photo-3 {
  grid-area: 2/3/3/4;
}

.many-photos .photo-4 {
  grid-area: 1/3/2/4;
}

.many-photos .photo-5 {
  grid-area: 2/2/3/3;
}

.many-photos .photo-6 {
  grid-area: 1/2/2/3;
}

.many-photos .photo-7 {
  grid-area: 2/1/3/2;
}

.few-photos .photo-1 {
  grid-area: 1/4/2/5;
}

.few-photos .photo-2 {
  grid-area: 1/3/2/4;
}

.few-photos .photo-3 {
  grid-area: 1/2/2/3;
}

.few-photos .photo-4 {
  grid-area: 1/1/2/2;
}

.speaker-photo-md {
  /* background: url('./../images/speakers/JosephWei.jpg'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.many-photos .speaker-photo-md {
  height: 54px;
  width: 54px;
}

.few-photos .speaker-photo-md {
  height: 74px;
  width: 74px;
}

.single-photo .speaker-photo-md {
  width: 94px;
  height: 94px;
}

.speaker-photo-md img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-adjacent {
  display: none;
  opacity: 0;
  position: relative;
  top: -100%;
  transition: 0.5s ease all;
}

.adjacent-text {
  border-top: 2px solid #e8e8e8;
  padding: 20px 90px;
  font-size: 12px;
}

.event-name,
.cards-title {
  border-bottom: 1px dashed rgba(0, 0, 0, .2);
}

.fintech .filter-box,
.fintech .event-title,
.fintech .event-name {
  color: #fe961b;
  border-color: #fe961b;
}

.fintech input:checked~.filter-label .filter-box span,
.fintech .card-time::after {
  background: #fe961b;
  color: #fe961b;
}

.investors .filter-box,
.investors .event-title,
.investors .event-name {
  color: #00909d;
  border-color: #00909d;
}

.investors input:checked~.filter-label .filter-box span,
.investors .card-time::after {
  background: #00909d;
  color: #00909d;
}

.conference .filter-box,
.conference .event-title,
.conference .event-name {
  color: #fc2725;
  border-color: #fc2725;
}

.conference input:checked~.filter-label .filter-box span,
.conference .card-time::after {
  background: #fc2725;
  color: #fc2725;
}

.forum .filter-box,
.forum .event-title,
.forum .event-name {
  color: #cadc00;
  border-color: #cadc00;
}

.forum input:checked~.filter-label .filter-box span,
.forum .card-time::after {
  background: #cadc00;
  color: #cadc00;
}

.startup .filter-box,
.startup .event-title,
.startup .event-name {
  color: #6e93c4;
  border-color: #6e93c4;
}

.startup input:checked~.filter-label .filter-box span,
.startup .card-time::after {
  background: #6e93c4;
  color: #6e93c4;
}

.master-cls-1 .filter-box,
.master-cls-1 .event-title,
.master-cls-1 .event-name {
  color: #0093ba;
  border-color: #0093ba;
}

.master-cls-1 input:checked~.filter-label .filter-box span,
.master-cls-1 .card-time::after {
  background: #0093ba;
  color: #0093ba;
}

.gewBel .filter-box,
.gewBel .event-title,
.gewBel .event-name {
  color: #b00761;
  border-color: #b00761;
}

.gewBel input:checked~.filter-label .filter-box span,
.gewBel .card-time::after {
  background: #b00761;
  color: #b00761;
}

.networking .filter-box,
.networking .event-title,
.networking .event-name {
  color: #fd624f;
  border-color: #fd624f;
}

.networking input:checked~.filter-label .filter-box span,
.networking .card-time::after {
  background: #fd624f;
  color: #fd624f;
}

.pressa .filter-box,
.pressa .event-title,
.pressa .event-name {
  color: #81697d;
  border-color: #81697d;
}

.pressa input:checked~.filter-label .filter-box span,
.pressa .card-time::after {
  background: #81697d;
  color: #81697d;
}

.speakers-data .filter-box,
.speakers-data .event-title,
.speakers-data .event-name {
  color: #ec5d21;
  border-color: #ec5d21;
}

.speakers-data input:checked~.filter-label .filter-box span,
.speakers-data .card-time::after {
  background: #ec5d21;
  color: #ec5d21;
}

.business .filter-box,
.business .event-title,
.business .event-name {
  color: #00639d;
  border-color: #00639d;
}

.business input:checked~.filter-label .filter-box span,
.business .card-time::after {
  background: #00639d;
  color: #00639d;
}

.master-cls-2 .filter-box,
.master-cls-2 .event-title,
.master-cls-2 .event-name {
  color: #ffc6c4;
  border-color: #ffc6c4;
}

.master-cls-2 input:checked~.filter-label .filter-box span,
.master-cls-2 .card-time::after {
  background: #ffc6c4;
  color: #ffc6c4;
}

.master-cls-3 .filter-box,
.master-cls-3 .event-title,
.master-cls-3 .event-name {
  color: #f9eb06;
  border-color: #f9eb06;
}

.master-cls-3 input:checked~.filter-label .filter-box span,
.master-cls-3 .card-time::after {
  background: #f9eb06;
  color: #f9eb06;
}

.master-cls-4 input:checked~.filter-label .filter-box span,
.master-cls-4 .event-title,
.master-cls-4 .event-name {
  color: #6bd2db;
  border-color: #6bd2db;
}

.master-cls-4 input:checked~.filter-label .filter-box span,
.master-cls-4 .card-time::after {
  background: #6bd2db;
  color: #6bd2db;
}

.imaguru-data .filter-box,
.imaguru-data .event-title,
.imaguru-data .event-name {
  color: #819aa1;
  border-color: #819aa1;
}

.imaguru-data input:checked~.filter-label .filter-box span,
.imaguru-data .card-time::after {
  background: #819aa1;
  color: #819aa1;
}

.cards__container {
  position: relative;
  left: 14px;
  padding-top: 16px;
}

.cards-title {
  cursor: pointer;
}

.cards__container .row {
  margin: 0;
}

.event-info {
  display: flex;
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 0.3px;
}

.event-button {
  position: relative;
  top: -4px;
  left: 27px;
}

.card-time__container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
  max-width: 88px;
}

.card-time::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 13%;
  width: 2px;
  height: 74%;
}

.cards__column {
  display: grid;
  grid-gap: 21px;
}

.card__inner {
  padding: 0 15px 0 15px;
}

.speaker-modal-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -90px;
  left: 48%;
  transform: translate(-50%, 0);
  height: 70px;
  width: 162px;
  text-align: center;
  background: white;
  border: 2px solid #f3f3f3;
  border-radius: 2px;
  z-index: 10;
}

.speaker-modal-sm h3 {
  font-size: 14px;
}

.speaker-modal-sm p {
  font-size: 12px;
  margin: 0;
}

.modal-speaker .close,
.modal-event .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.close {
  cursor: pointer;
  transition: 0.2s ease all;
}

.close:hover {
  transform: scale(1.05);
  transition: 0.2s ease all;
}

.modal-speaker,
.modal-event {
  background: rgba(255, 255, 255, 0.5);
}

.modal-speaker .modal-content,
.modal-event .modal-content {
  display: flex;
  background: white;
  color: black;
  border-radius: 0;
  max-height: 444px;
  max-width: 960px;
  justify-content: center;
  align-items: center;
}

.modal-event .modal-content {
  max-height: unset;
  height: unset;
  align-items: flex-start;
  padding: 35px 60px;
  font-size: 14px;
}

.speaker-image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speaker-image {
  width: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 356px;
}

.speaker-link {
  color: #00909d;
  transition: 0.2s ease all;
}

.speaker-link span {
  border-bottom: dashed 1px gray;
}

.speaker-link:hover {
  transition: 0.2s ease all;
}

.speaker-position {
  font-size: 1.2rem;
}

.speaker-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.speaker-image__container {
  margin: 0 auto;
}

.modal-event-item {
  margin-left: 19px;
  position: relative;
}

.modal-event-item::before {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 8px;
  left: -19px;
  background: #8261cc;
}

.modal-event-title {
  font-size: 28px;
}

.modal-event-text-paragraph {
  margin: 0;
}

.modal-event-text-paragraph .bold-text {
  font-size: 15px;
}

.modal-event-button__container {
  align-self: center;
  margin-top: 10px;
}

.adjacent-show {
  position: relative;
  top: 0;
  display: block;
  opacity: 1;
  transition: 0.5s ease all;
}

.card-checkbox {
  cursor: pointer;
}

.details__container {
  display: none;
}

.triangle {
  position: absolute;
  bottom: 0px;
  left: 44%;
}

.triangle:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 14.5px 0 14.5px;
  border-color: #f3f3f3 transparent transparent transparent;
  position: absolute;
  left: -3px;
}

.triangle:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 11.5px 0 11.5px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
}

@media (max-width: 1200px) {
  .header .container {
    padding: 0 2vw;
    padding-top: 31px;
    max-width: 100%;
  }

  .header-list-item {
    left: 0 !important;
  }

  .modal-buttons {
    flex-direction: column;
  }

  .menu-column ul {
    align-items: center;
  }

  .main .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .menu-column:nth-child(3) ul {
    align-items: center;
  }

  .menu-column:nth-child(3)::before {
    content: none;
  }

  .menu-column:nth-child(1)::after {
    right: 0;
  }

  .tickets-head {
    left: 10px;
  }

  .modal-speaker .modal-content {
    display: flex;
    flex-direction: initial;
    overflow-y: scroll;
    max-height: unset;
    max-width: unset;
    padding: 15px;
  }

  .speaker-text {
    height: auto;
    text-align: center;
    margin: 0 auto;
  }

  .many-photos {
    grid-template: repeat(2, 54px) / repeat(4, 54px);
    grid-column-gap: 2%;
  }

  .many-photos .photo-2,
  .many-photos .photo-4,
  .many-photos .photo-6 {
    right: 50%;
  }

  .card-text {
    display: flex;
    flex-direction: column;
  }

  .event-title {
    grid-area: 1/1/2/3;
    margin: 5px 0;
    min-width: 220px;
  }

  .event-location {
    min-width: 220px;
    grid-area: 2/1/3/3;
    margin: 5px 0;
  }

  .event-details {
    grid-area: 4/1/5/3;
    margin: 5px 0;
    line-height: 100%;
  }

  .event-duration__container {
    grid-area: 3/1/4/3;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 5px 0;
  }

  .event-duration {
    left: 0;
    top: 0;
  }

  .event-duration::before {
    left: -20px;
  }

  .few-photos {
    grid-template: 1fr / repeat(4, 74px);
  }

  .filter__container {
    max-width: 25%;
  }

  .card__inner {
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 862px) {
  .few-photos {
    grid-template: 1fr 1fr / repeat(2, 74px);
  }

  .few-photos .speaker-photo-md {
    grid-area: unset;
  }

  .card__inner {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .footer-nav li {
    justify-content: center;
  }

  .footer-left__container {
    align-items: center;
    text-align: center;
  }

  .footer-logo,
  .footer-text {
    margin: 15px 0;
  }

  .footer-links {
    margin: 0 0 15px 0;
  }

  .footer-right__container {
    margin: 55px 0;
  }

  .header-main {
    padding: 25px;
  }

  .header-bottom-logo {
    justify-content: center;
    top: 0;
    left: 0;
  }

  .footer-right__container {
    left: 0;
  }

  .bg-circle {
    display: none;
  }

  .button span {
    position: relative;
    top: 0px !important;
  }

  .dropdown-trigger {
    cursor: pointer;
  }

  .dropdown {
    display: none;
  }

  .active {
    display: unset;
  }

  .filter__container {
    max-width: 100%;
    padding-bottom: 15px;
  }

  .cards__container {
    left: 0;
  }

  .filter-event {
    padding: 0;
  }

  .filter-title {
    position: relative;
  }

  .filter-title::after {
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    background: url('./../images/card-checkbox-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 15px;
    top: 0;
    transform: rotate(-90deg);
  }

  .triggered::after {
    transform: rotate(0);
  }

  .card__inner {
    padding-right: 15px;
  }

  .modal-event .modal-content {
    padding: 35px 20px;
  }

  .adjacent-text {
    padding: 20px 0;
  }

  .modal-content {
    width: 100%;
    height: 100%;
  }

  .card-time::after {
    content: none;
  }

  .card-item {
    padding: 15px;
  }

  .card-time__container {
    justify-content: flex-start;
  }

  .card__inner {
    padding: 0;
  }

  .event-title {
    font-size: 17px;
  }

  .card-text {
    padding: 0 0 10px 0;
  }

  .few-photos {
    grid-template: 1fr / repeat(4, 74px);
  }

  .few-photos .photo-1 {
    grid-area: 1/4/2/5;
  }
  
  .few-photos .photo-2 {
    grid-area: 1/3/2/4;
  }
  
  .few-photos .photo-3 {
    grid-area: 1/2/2/3;
  }
  
  .few-photos .photo-4 {
    grid-area: 1/1/2/2;
  }

  .adjacent-show {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .navbar-container {
    align-items: center;
  }

  .header-top {
    padding: 10px;
  }

  .footer-nav {
    grid-column-gap: 0;
    top: -3px;
    left: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .modal-content .container {
    padding: 0;
  }

  .menu-column {
    padding: 0;
  }

  .menu-column li {
    margin: 5px;
  }

  .menu-column ul {
    align-items: center;
  }

  .footer-nav li:nth-child(2n) {
    justify-content: flex-end;
    text-align: right;
  }

  .footer-nav li:nth-child(2n+1) {
    justify-content: flex-start;
    text-align: left;
  }

  .header-text {
    padding: 0;
  }

  .header-head {
    font-size: 1.5rem;
  }

  .menu-column:nth-child(1)::after {
    content: none;
  }

  .row {
    margin: 0;
  }

  .header .container {
    padding-left: 0;
    padding-right: 0;
  }

  .tickets-head {
    left: 0;
  }

  .card-photos {
    justify-content: flex-start;
  }

  .speaker-photo-md {
    left: 0 !important;
    right: 0 !important;
    grid-area: unset !important;  
    margin: 0;
  }

  .cards__container {
    padding: 0;
  }

  .event-info {
    margin: 25px 0; 
    display: flex;
    justify-content: space-between;
  }

  .event-button {
    top: 0;
    left: 0;
  }

  .few-photos {
    grid-template: 74px / repeat(4, 74px);
    grid-gap: 8px;
  }

  .many-photos {
    grid-template: 54px / repeat(4, 54px);
    grid-gap: 8px;
  }

  .card__inner {
    padding-bottom: 15px;
  }

  .cards__column {
    display: flex;
    flex-direction: column;
  }

  .card-item {
    margin: 15px 0 !important;
    padding: 15px;
  }

  .card__inner {
    padding: 0;
  }

  .card-text .event-details {
    display: none;
  }

  .details__container {
    padding: 0;
    margin-top: 15px;
    display: unset;
  }

  .event-button {
    display: none;
  }

  .modal-event .modal-content {
    max-height: 100%;
    display: unset;
    overflow: scroll;
  }

  .modal-event-button {
    margin: 0 auto;
  }

  .few-photos {
    grid-template: 1fr / repeat(4, 54px);
  }

  .few-photos .speaker-photo-md,
  .single-photo .speaker-photo-md {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 400px) {
  .logo img {
    width: 50px;
  }

  .logo-text {
    font-size: 11px;
    margin-left: 8px;
  }

  .selectric-wrapper {
    margin-right: 0;
  }
}