.place {
  background: url('./../images/scheme-bg.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.place>.container {
  position: unset;
  padding-top: 52px;
}

.place-head {
  text-align: center;
  word-spacing: -2px;
  letter-spacing: 1px;
  position: relative;
  left: 15px;
  top: -1px;
  font-family: 'V-L';
  font-weight: 200;
}

.place-head .lines {
  left: 0;
}

.scheme-content {
  position: relative;
}

.scheme-content .day-head p {
  text-transform: none;
}

.scheme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scheme-container h3 {
  margin: 0;
  position: relative;
  top: 36px;
  left: -1px;
  letter-spacing: 0.4px;
  font-family: 'V-L';
  font-size: 24px;
}

.date-day__container {
  display: flex;
  justify-content: center;
  margin: 11px auto 40px auto;
  font-weight: 200;
  font-size: 14px;
  font-family: 'V-L';
}

.date-day:nth-child(1) {
  margin-left: -16px;
}

.date-day {
  display: flex;
  border: 2px solid #ff981d;
  color: #ff981d;
  width: 114px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease all;
}

.date-day span {
  position: relative;
  top: -3px;
  left: 3px;
  word-spacing: 2px;
}

.date-day:nth-child(2) span {
  left: -1px;
}

.date-day__container>.active {
  background: #ff981d;
  color: white;
  transition: 0.2s ease all;
}

.active .date-day {
  color: white;
}

.date-day>.active {
  background: #ff981d;
}

.date-day:hover {
  color: white;
  text-decoration: none;
}

.rooms-column {
  position: relative;
}

.rooms-column:nth-child(2) {
  left: 19px;
}

.rooms-column:nth-child(3) {
  left: 26px;
}

.rooms-column:nth-child(4) {
  left: 20px;
}

.rooms-list ul {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  max-width: 616px;
  grid-column-gap: 31px;
  margin: 0 auto;
  text-align: left;
  font-size: 13px;
  font-family: 'V-L';
  font-weight: 200;
}

.room {
  position: relative;
  padding: 6px 0;
  position: relative;
  left: 0;
  top: 2px;
}

.room .cube {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  position: relative;
  top: 4px;
  left: 0;
}

.room span:not(.cube) {
  text-align: left;
  width: 100px;
}

.room {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.3px;
}

.r-1 .cube {
  background: #00639d;
}

.r-2 .cube {
  background: #ffc6c4;
}

.r-3 .cube {
  background: #0093ba;
}

.r-4 .cube {
  background: #6bd2db;
}

.r-5 .cube {
  background: #f9eb06;
}

.r-6 .cube {
  background: #fd624f;
}

.r-7 .cube {
  background: #6e93c4;
}

.r-8 .cube {
  background: #fc2725;
}

.scheme_19 .r-8 .cube {
  background: #00909d;
}

.r-9 .cube {
  background: #b00761;
}

.r-10 .cube {
  background: #ff961b;
}

.scheme_19 .r-10 .cube {
  background: #cadc00;
}

.r-11 .cube {
  background: #8b79a5;
}

.r-12 .cube {
  background: #ec5d21;
}

.owl-prev {
  position: absolute;
  top: 28%;
  left: 7.2vw;
}

.owl-next {
  position: absolute;
  top: 28%;
  right: 7.2vw;
}

.owl-next span,
.owl-prev span {
  font-size: 600%;
}

.scheme__content__inner {
  width: 70%;
  margin: 0 auto;
}

.scheme__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheme__inner svg {
  width: 90%;
  height: 90%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav [class*=owl-]:focus {
  outline: none;
}

.place-info__container {
  position: absolute;
  left: 50%;
  z-index: 10;
  display: none;
  justify-content: flex-start;
  align-items: center;
  height: 360px;
}

.place-info__container .day-button-container {
  margin-top: -5px;
}

.place-info__inner {
  height: 360px;
  min-height: 360px;
  width: 290px;
  min-width: 290px;
  max-width: 290px;
  display: grid;
  grid-template: 1fr 6fr 1fr / 1fr 1fr;
  position: relative;
  background: white;
}

.place-info__inner .day-head {
  height: 60px;
  padding: 5px 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.place-info__inner .info-item::before {
  content: none;
}

.place-info__inner .day-info {
  padding: 0;
}

.place-info__inner .info-item {
  margin: 5px 10px;
  font-size: 0.95rem;
}

.hover {
  display: flex;
}

.all-photos__container {
  margin: 13px auto 42px auto;
  padding-bottom: 3px;
  border-bottom: 1px solid #9578b7;
  cursor: pointer;
  transition: 0.2s ease all;
  font-family: 'V-L';
  font-size: 14px;
  letter-spacing: 0.3px;
}

.all-photos__container:hover {
  transition: 0.2s ease all;
  color: #ff981d;
}

.hover-card {
  cursor: pointer;
}

.scheme-18 .g52:hover path {
  cursor: pointer;
  fill: #ff3634 !important;
}

.g52:hover .place-info__container {
  display: block;
}

.g52_card .day-head,
.g52_card .day-button-container:hover {
  background-color: red;
}

.g52_card .day-button-container {
  border-color: red;
}

