.place {
  background: url('./../images/scheme-bg.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.place>.container {
  position: unset;
  padding-top: 52px;
}

.place-head {
  text-align: center;
  word-spacing: -2px;
  letter-spacing: 1px;
  position: relative;
  left: 15px;
  top: -1px;
  font-family: 'V-L';
  font-weight: 200;
}

.place-head .lines {
  left: 0;
}

.scheme-content {
  position: relative;
}

.scheme-content .day-head p {
  text-transform: none;
}

.scheme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.scheme-container h3 {
  margin: 0;
  position: relative;
  top: 36px;
  left: -1px;
  letter-spacing: 0.4px;
  font-family: 'V-L';
  font-size: 24px;
}

.date-day__container {
  display: flex;
  justify-content: center;
  margin: 11px auto 40px auto;
  font-weight: 200;
  font-size: 14px;
  font-family: 'V-L';
}

.date-day:nth-child(1) {
  margin-left: -16px;
}

.date-day {
  display: flex;
  border: 2px solid #ff981d;
  color: #ff981d;
  width: 114px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease all;
}

.date-day span {
  position: relative;
  top: -1px;
  left: 3px;
  word-spacing: 2px;
}

.date-day:nth-child(2) span {
  left: -1px;
}

.date-day__container>.active {
  background: #ff981d;
  color: white;
  transition: 0.2s ease all;
}

.active .date-day {
  color: white;
}

.date-day>.active {
  background: #ff981d;
}

.date-day:hover {
  color: white;
  text-decoration: none;
}

.rooms-item {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rooms-list ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  font-size: 13px;
  font-family: 'V-L';
  font-weight: 200;
}

.room {
  padding: 6px 0;
  position: relative;
  left: 0;
  top: 2px;
  display: flex;
  letter-spacing: 0.3px;
}

.room::before,
.room::after   {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  min-height: 11px;
  min-width: 11px;
  position: relative;
  top: 4px;
  left: -10px;
}

.room::after{
  content: unset;
}

.r-1::before,
.r-1::after {
  background: #00639d;
}

.r-2::before,
.r-2::after {
  background: #ffc6c4;
}

.r-3::before,
.r-3::after {
  background: #0093ba;
}

.r-4::before,
.r-4::after {
  background: #6bd2db;
}

.r-5::before,
.r-5::after {
  background: #f9eb06;
}

.r-6::before,
.r-6::after {
  background: #fd624f;
}

.r-7::before,
.r-7::after {
  background: #6e93c4;
}

.r-8::before,
.r-8::after {
  background: #fc2725;
}

.scheme_19 .r-8::before,
.scheme-19 .r-8::after {
  background: #00909d;
}

.r-9::before,
.r-9::after {
  background: #b00761;
}

.r-10::before,
.r-10::after {
  background: #ff961b;
}

.scheme_19 .r-10::before,
.scheme_19 .r-10::after {
  background: #cadc00;
}

.r-11::before,
.r-11::after {
  background: #8b79a5;
}

.r-12::before,
.r-12::after {
  background: #ec5d21;
}

.owl-prev {
  position: absolute;
  top: 28%;
  left: 7.2vw;
}

.owl-next {
  position: absolute;
  top: 28%;
  right: 7.2vw;
}

.owl-next span,
.owl-prev span {
  font-size: 600%;
}

.scheme__content__inner {
  width: 70%;
  margin: 0 auto;
}

.scheme__content__inner .item {
  padding: 0;
}

.scheme__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheme__inner svg {
  width: 90%;
  height: 90%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav [class*=owl-]:focus {
  outline: none;
}

.place-info__container {
  position: absolute;
  left: 50%;
  z-index: 10;
  display: none;
  justify-content: flex-start;
  align-items: center;
  height: 360px;
}

.place-info__inner {
  height: 360px;
  min-height: 360px;
  width: 290px;
  min-width: 290px;
  max-width: 290px;
  display: grid;
  grid-template: 1fr 6fr 48px / 1fr 1fr;
  position: relative;
  background: white;
}

.place-info__inner .day-head {
  height: 60px;
  padding: 5px 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.place-info__inner .info-item::before {
  content: none;
}

.place-info__inner .day-info {
  padding: 0;
}

.place-info__inner .info-item {
  margin: 10px 20px;
  font-size: 0.95rem;
}

.hover {
  display: flex;
}

.all-photos__container {
  margin: 13px auto 42px auto;
  padding-bottom: 3px;
  border-bottom: 1px solid #9578b7;
  cursor: pointer;
  transition: 0.2s ease all;
  font-family: 'V-L';
  font-size: 14px;
  letter-spacing: 0.3px;
}

.all-photos__container:hover {
  transition: 0.2s ease all;
  color: #ff981d;
}

.hover-card {
  cursor: pointer;
}

.scheme-18 .g52:hover path {
  cursor: pointer;
  fill: #ff3634 !important;
}

.g52:hover .place-info__container {
  display: block;
}

.g52_card .day-head,
.g52_card .day-button-container:hover {
  background-color: red;
}

@media (max-width: 1200px) {
  .rooms-list li {
    padding: 0;
  }

  .rooms-item:nth-child(2) .room::before,
  .rooms-item:nth-child(4) .room::before{
    content: unset;
  }

  .rooms-item:nth-child(2) .room::after,
  .rooms-item:nth-child(4) .room::after{
    content: '';
    left: unset;
    right: -10px;
  }

  .rooms-item:nth-child(2) .room,
  .rooms-item:nth-child(4) .room{
    justify-content: flex-end;
    text-align: right;
  }
}

.g52_card .day-button-container {
  border-color: red;
}

@media (max-width: 1000px) {
  .place-info__container {
    transform: translate(-50%, -50%);
  }

  .date-day:nth-child(1) {
    margin-left: unset;
  }
}

@media (max-width: 768px) {
  .scheme__content__inner {
    padding: 0;
  }

  .rooms-list ul {
    padding: 0 20px;
  }

  .scheme_19 .r-10 {
    width: unset;
  }

  .room {
    padding: 0;
    margin: 6px 0;
  }

  .room::after,
  .room::before {
    right: -20px;
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
  }

  .rooms-item:nth-child(2) span,
  .rooms-item:nth-child(4) span{
    margin-right: 10px;
  }

  .rooms-item:nth-child(1) span,
  .rooms-item:nth-child(3) span{
    margin-left: 10px;
  }

  .rooms-item:nth-child(2) .room::before,
  .rooms-item:nth-child(4) .room::before{
    content: unset;
  }

  .rooms-item:nth-child(2) .room::after,
  .rooms-item:nth-child(4) .room::after{
    content: '';
    left: unset;
    right: -10px;
  }

  .rooms-item:nth-child(2) .room,
  .rooms-item:nth-child(4) .room{
    justify-content: flex-end;
    text-align: right;
  }

  .scheme-container h3 {
    top: 0;
  }
}

@media (max-width: 576px) {
  .scheme__content__inner .item {
    padding: 0 15px;
  }
}
