/* .sp-1 {
  background-image: url('./../images/speakers/all/sp-1.png');
}

.sp-2 {
  background-image: url('./../images/speakers/all/sp-2.png');
}

.sp-3 {
  background-image: url('./../images/speakers/all/sp-3.png');
}

.sp-4 {
  background-image: url('./../images/speakers/all/sp-4.png');
}

.sp-5 {
  background-image: url('./../images/speakers/all/sp-5.png');
}

.sp-6 {
  background-image: url('./../images/speakers/all/sp-6.png');
}

.sp-7 {
  background-image: url('./../images/speakers/all/sp-7.png');
}

.sp-8 {
  background-image: url('./../images/speakers/all/sp-8.png');
}

.sp-9 {
  background-image: url('./../images/speakers/all/sp-9.png');
}

.sp-10 {
  background-image: url('./../images/speakers/all/sp-10.png');
} */

.speaker__image {
  background-image: url('./../images/logo.png');
}

.speaker__image:not(.ment-8)::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, #000000 0, rgba(255, 255, 255, 0) 50%);
  width: 100%;
  height: 100%;
  content: '';
}

.speakers-list {
  display: none;
}

.speakers-list:not(.all) .speakers-button-container {
  opacity: 0;
}

.active-list {
  display: unset;
}

.speakers {
  padding: 0rem 0;
  position: relative;
  overflow: hidden;
}

.speakers-content {
  max-width: 1162px;
  margin: 0 auto;
  margin-top: 20px;
}

.speakers-sections {
  margin-bottom: 23px;
}

.speakers .row {
  align-items: flex-start;
}

.speakers .row .col-md-6,
.speakers .row .col-md-12 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.speaker {
  color: #fff;
  color: var(--white-color);
  overflow: hidden;
  height: auto;
  width: 24%;
  padding: 0;
  margin-bottom: 1rem;
  margin-right: .5%;
  margin-left: .5%;
  position: relative;
  cursor: pointer;
}

.speaker-name {
  font-size: 20px;
  font-weight: 200;
  font-family: 'V-L';
}

.speaker-review {
  font-size: 14px;
  font-weight: 200;
  font-family: 'V-L';
  margin: 0;
}

.speaker__large .speaker-name{
  font-size: 30px;
  letter-spacing: 0.4px;
  word-spacing: 3px;
  font-weight: 200;
  font-family: 'V-L';
}

.speaker__large .speaker-review {
  font-size: 18px;
  font-weight: 200;
  font-family: 'V-L';
}

.speaker.speaker__large {
  height: auto;
  width: 100%;
}

.speakers .row .col-md-6:after,
.speakers .row .col-md-12:after {
  content: "";
  flex: auto;
}

.speaker:before {
  padding-top: 100%;
  display: block;
  content: "";
}

.speaker .speaker__content-wrap {
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
}

.speaker__large .speaker__content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.speaker .speaker__image {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.speaker .speaker__content__inner {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template: 24px 63px / 1fr;
}

.speaker:not(.speaker__large) .speaker__content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: .85rem;
}

.fixedList .speaker:not(.speaker__large) {
  width: 49%;
}

.speaker:not(.speaker__large) .speaker__content-wrap:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .25);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 1;
}

.speaker:hover .speaker__image {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.speakers-button-container {
  display: flex;
  justify-content: center;
  margin: 34px 0 !important;
  font-size: 14px;
}


@media only screen and (min-width: 550px) {
  .speaker {
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .speakers {
    padding: 0rem 1rem;
  }

  .speakers .row .col-md-6 {
    padding: 0;
    justify-content: flex-start;
  }

  .speaker {
    padding: 0 1rem 1rem 0;
    height: auto;
    margin-bottom: .4rem;
  }

  .speaker.speaker__large {
    height: auto;
    margin-bottom: .3rem;
  }

  .speaker__large .speaker__content {
    padding: 2.5rem;
    padding-bottom: 1rem;
  }

  .fixedList .speaker:not(.speaker__large) {
    width: 49%;
  }

  .speaker:not(.speaker__large) .speaker__content {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
}